.canoa-content {
    position: relative;
}

.canoa-content > .canoa {
    display: flex;

    background-image: url('../../../assets/canoa.jpg');
    background-size: cover;
    background-position: center;

    padding-bottom: 20%;
    padding-top: 50%;

    margin-bottom: 50px;
    bottom: 0;

    min-height: 28vh;
    min-width: 16vw;
}

.canoa-content > .canoa.direita {
    animation: direita-para-esquerda 2s forwards;
}

.canoa-content > .canoa.esquerda {
    animation: esquerda-para-direita 2s forwards;
}


/* 
 * transform : translanteX(value)
 * value: ao aumentar, move para direita
 *        ao diminuir, move para esquerda
 */

 @keyframes direita-para-esquerda {
    0% {
        transform: translateX(30vw);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes esquerda-para-direita {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(30vw);
    }
}