.canoa-content {
    position: relative;
}

.canoa-content > .canoa {
    display: flex;

    background-image: url('../../../assets/canoa.jpg');
    background-size: cover;
    background-position: center;

    padding-bottom: 20%;
    padding-top: 50%;

    margin-bottom: 50px;
    bottom: 0;

    min-height: 28vh;
    min-width: 16vw;
}


.canoa-content > .canoa.direita {
    transform: translateX(40vh);
}

.canoa-content > .canoa.esquerda {
    transform: translateX(50vh);
    animation: direita-para-esquerda 5s forwards;
    animation-delay: 5s;
}


.canoa-content > .canoa.direita {
    transform: translateX(50vh);
}


/* 
 * transform : translanteX(value)
 * value: ao aumentar, move para direita
 *        ao diminuir, move para esquerda
 */

@keyframes direita-para-esquerda {
    0% {
        transform: translateX(50vh);
    }

    100% {
        transform: translateX(0);
    }
}
